<?xml version="1.0"?>
<publishData><publishProfile profileName="dev.cloudexcelon.com - Web Deploy" publishMethod="MSDeploy" publishUrl="https://dev.cloudexcelon.com:8172/msdeploy.axd?site=dev.cloudexcelon.com" msdeploySite="dev.cloudexcelon.com" userName="btpinnov" destinationAppUrl="http://dev.cloudexcelon.com" controlPanelLink="https://plesk8700.is.cc:8443"/></publishData>
